
    <div class="container-fluid footer-body">
        <div class="container d-flex footer-body">
        <button type="button" class="btn btn-map"><i class="fas fa-map-marker-alt"></i> VIEW MAP</button>
        <div class="footer-icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube footer-icon"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="footer-links d-flex">
            <a href="" class="footer-link ">© 2018 Highlands Coffee. All rights reserved</a>
            <a href="" class="footer-link footer-link-mid"><i class="fas fa-link"></i>   Đăng ký để nhận bản tin</a>
            <a href="" class="footer-link  "><i class="fas fa-envelope"></i>  customerservice@highlandscoffee.com.vn</a>
        </div>
        </div>

    </div>