
 <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" class="img-link" href="/">
        <img
          class="img-header"
          src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/1200px-Highlands_Coffee_logo.svg.png"
          alt=""
        />
      </a>
      <button class="navbar-toggler btn-bars" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link " href="#">QUÁN CÀ PHÊ </a>
          </li>
          <li class="nav-item item-menu-coffe">
            <a class="nav-link " href="/sanpham">THỰC ĐƠN</a>
            <div class="item-menu ">
              <div class="container menu-container d-flex">
              <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    CÀ PHÊ
                  </li>
                  <li class="item-menu_coffe">Cà phê Phin</li>
                  <li class="item-menu_coffe">PhinDi</li>
                  <li class="item-menu_coffe">Cà phê Espcreso</li>
                </ul>
                
               <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    FREEZE
                  </li>
                  <li class="item-menu_coffe">Freeze Cà phê Phin</li>
                  <li class="item-menu_coffe">Freeze không cà phê</li>
                </ul>
                 <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    TRÀ
                  </li>
                  <li class="item-menu_coffe">Trà sen vàng</li>
                  <li class="item-menu_coffe">Trà thạch đào</li>
                  <li class="item-menu_coffe">Trà thanh đào</li>
                  <li class="item-menu_coffe">Trà thạch vãi</li>
                </ul>
                <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    BÁNH MÌ
                  </li>
                  <li class="item-menu_coffe">Thịt thạch</li>
                  <li class="item-menu_coffe">Xíu mại</li>
                  <li class="item-menu_coffe">Sài gòn 2 ngàn 1 ổ</li>
                  <li class="item-menu_coffe">Ăn vào mắc cổ</li>
                </ul>
                <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    KHÁC
                  </li>
                  <li class="item-menu_coffe">Bánh ngọt</li>
                  <li class="item-menu_coffe">Bánh mặn</li>
                  <li class="item-menu_coffe">Bánh không ngọt cũng không mặn</li>
                  <li class="item-menu_coffe">Cũng là bánh nhưng khác dòng</li>
                </ul>
                 <ul class="items-menu_coffe-img col-lg-2">
                      <a class="item-link_coffe" href = ""><p class="item-menu-text_coffe">PHIN SỮA ĐÁ ĐẬM ĐÀ ĐÀ ĐÁ ĐA ĐÀ ĐA GIÁ 29K NHÁ!</p></a>
                    <img class="card-img-top item-img_coffe" src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/z1.jpg" alt="Card image cap">
                 </ul>
          </div>
              </div>
          </li>
          <li class="nav-item item-menu-news">
            <a class="nav-link " href="/sanpham/cars">TIN TỨC</a>
            <div class="item-menu">
              <div class="container menu-container d-flex">
              <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    TIN TỨC VÀ SỰ KIỆN
                  <li class="item-menu_coffe">Item này trống vì dịch nên không có tin gì cả</li>
                </ul>
                
               <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                    TIN KHUYẾN MÃI
                  </li>
                </ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
               
               
                 <ul class="items-menu_coffe-img col-lg-2">
                      <a class="item-link_coffe" href = ""><p class="item-menu-text_coffe">TỰ HÀO SINH RA TỪ ĐẤT VIỆT, 1999!</p></a>
                    <img class="card-img-top item-img_coffe" src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/Thumbnail.jpg" alt="Card image cap">
                 </ul>
          </div>
              </div>
          </li>
          <li class="nav-item item-menu-community">
            <a class="nav-link " href="#">TRÁCH NHIỆM CỘNG ĐỒNG</a>
              <div class="item-menu">
              <div class="container menu-container d-flex">
              <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                 GIÁ TRỊ VĂN HÓA VIỆT
                  <li class="item-menu_coffe">Đương đại hóa tranh Đông Hồ</li>
                </ul>
                
               <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                   CỘNG ĐỒNG
                  </li>
                   <li class="item-menu_coffe">Lớp học cho em cho anh và cho chú hàng xóm</li>
                </ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                 <ul class="items-menu_coffe-img col-lg-2">
                      <a class="item-link_coffe" href = ""><p class="item-menu-text_coffe">ĐƯƠNG ĐẠI HÓA TRANH ĐÔNG HỒ</p></a>
                    <img class="card-img-top item-img_coffe" src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/KV_Highlands_CSR_1.jpg" alt="Card image cap">
                 </ul>
          </div>
              </div>
          </li>
          <li class="nav-item item-menu-me">
            <a class="nav-link " href="/login">ĐĂNG NHẬP</a>
            <div class="item-menu">
              <div class="container menu-container d-flex">
              <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                      KHỞI NGUỒN
                  <li class="item-menu_coffe"></li>
                </ul>
                
               <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                  DỊCH VỤ KHÁCH HÀNG
                  </li>
                </ul>
                <ul class="items-menu_coffe col-lg-2">
                  <li class="item-menu_coffe-header">
                 NGHỀ NGHIỆP
                  </li></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                <ul class="items-menu_coffe col-lg-2"></ul>
                 <ul class="items-menu_coffe-img col-lg-2">
                      <a class="item-link_coffe" href = ""><p class="item-menu-text_coffe">THƯƠNG HIỆU BẮT NGUỒN TỪ CÀ PHÊ VIỆT</p></a>
                    <img class="card-img-top item-img_coffe" src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/ABOUT-ORIGIN.png" alt="Card image cap">
                 </ul>
          </div>
              </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-search my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    