
<div class="container-fluid">
  
    <div class=" banner-product-cafe">
      <div class="container d-flex product-cafe">
        <div class="col-lg-6 col-sm-12 banner-product-cafe-body">
          <h1 class = "banner-product-header">CÀ PHÊ</h1>
          <p class="banner-product-text">Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.</p>
        <a href="/sanpham/cafe" class="">
        <button type="button" class="btn  btn-product-cafe">Khám phá thêm</button>
        </a>
        </div>
        <div class="col-lg-6 col-sm-12 banner-product-cafe-img">
          <img class = "banner-product-img_body"src="https://www.highlandscoffee.com.vn/vnt_upload/product/03_2018/menu-PSD_3.png" alt="" class="">
        </div>
      </div>
    </div>


    <div class="banner-product-freeze">
      <div class="container d-flex product-freeze">
        <div class="col-lg-6 col-sm-12 banner-product-img">
          <img class = "banner-product-img_body"src="https://www.highlandscoffee.com.vn/vnt_upload/product/03_2018/menu-FREEZE_1.png" alt="" class="">
        </div>
        <div class="col-lg-6 col-sm-12 banner-product-freeze-body">
          <h1 class = "banner-product-header">FREEZE</h1>
          <p class="banner-product-freeze-text">Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức uống đá xay mát lạnh được pha chế từ những nguyên liệu thuần túy của Việt Nam.</p>
        <button type="button" class="btn  btn-product-freeze">Khám phá thêm</button>
        </div>
      </div>
    </div>

     <div class=" banner-product-tea">
      <div class="container d-flex product-tea">
        <div class="col-lg-6 col-sm-12 banner-product-tea-body">
          <h1 class = "banner-product-header">CÀ PHÊ</h1>
          <p class="banner-product-text">Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.</p>
        <button type="button" class="btn  btn-product-tea">Khám phá thêm</button>
        </div>
        <div class="col-lg-6 col-sm-12 banner-product-cafe-img">
          <img class = "banner-product-img_body"src="	https://www.highlandscoffee.com.vn/vnt_upload/product/03_2018/menu-TEA_1.png" alt="" class="">
        </div>


</div>
